<div class="row">
    <h3 class="inputSort">Categories </h3>
        <span class="inputSort">
                 <input name="gender" type="radio" value="foHim" id="forHim" >For Him
        </span >
        <span class="inputSort">
                 <input name="gender" type="radio" value="foHer" id="forHer">For Her
        </span>
         <span class="inputSort">
             <hr class="line">
                  <input name="category" type="radio" value="luxury" id="luxury"> luxury
         </span>
         <span class="inputSort">
                 <input name="category" type="radio" value="sport" id="sport"> sport
         </span>
         <span class="inputSort">
                 <input name="category" type="radio" value="classic" id="classic"> classic
         </span>
</div>

<style>
    .inputSort {
        float: left;
        clear:left;
        padding-left: 15px
    }
    .inputSort{
        padding-left: 60px;
    }
</style>