<div class="col-md-5">
</div>

<div class="col-md-2 logo">
    <span>
        <h2 id="logo">Royal Parfum</h2>
    </span>
</div>
<div class="col-md-2">
</div>

<div class="col-md-3 row authPannel">
    <a>My Cart</a>
    <a id="signUp">sign up</a>
    <a id="login">LOGIN</a>
</div>



<style>
    .authPannel > a {
        padding-left: 10px;
        color: black;
        display: inline;
        float: right;
        float: right;
    }

    .authPannel > a:hover {
        cursor: pointer;
        cursor: hand;
        color: #ba79b8;
        text-decoration: none;
    }
</style>
