<div class="col-md-1">
</div>
<div class="col-md-1 aboutDiv aboutDiv">
    <a id="payment" class="aboutUs">PAYMENT</a>
</div>

<div class="col-md-2 aboutDiv">
    <a id="aboutUs" class="aboutUs">ABOUT US</a>
</div>
<div class="col-md-5">
</div>

<div class="col-md-3">
    <form class="form-inline">
        <div class="input-group">
            <input type="text" class="form-control" id="search" placeholder="Search by name...">
      <span class="input-group-btn">
        <button class="btn btn-default" id='searchBtn' type="button">Go!</button>
      </span>
        </div><!-- /input-group -->
    </form>
</div>
