<div class="row">
    <img  src="./images/sale-icon.png">
</div>
<div id='banner' class="row"></div>
<hr class="line">
<div id='photoCategory' class="row"></div>
<div class="row contents">
    <div id='category' class="col-sm-2">
    </div>
    <div class="col-sm-offset-1 col-sm-9">
        <div id='sort' class="row">
        </div>
        <div id='products' class="row">
        </div>
    </div>
</div>

<style>
    #products{
        padding-top: 70px;
    }
    .contents{
        margin-top: 100px;
    }

</style>