<div class="row">
    <p style="text-align:center;"><img src="./images/newProducts.jpg" align="middle"></p>
</div>

<div class="row">

    <div class="new">
        <h2>Men's New In</h2>

        <div id='newMen' class="row"></div>
    </div>
    <div class="new">
        <h2>Women's New In</h2>
        <div id='newWomen' class="row"></div>
    </div>
</div>

<style>

    h2 {
        font-family: "BrandonGrotesqueRegular";
        color: cornflowerblue;
        text-align: center;
    }

    .new {
        margin-top: 100px;
    }


</style>