<% _.forEach(collection, function(product){%>
<% if(product.name) {%>
<div class="col-sm-4 productDiv">
    <a href="" data-attr="<%=product._id%>" data-brand-id="<%=product.brandId%>" class="brandPicture"><img
            src="<%= product.pathToPhoto%>"
            class="textWrapRight"></a>
    <h5><%= product.name %></h5>
    <h5>launch date: <%= product.launchDate %></h5>
    <h5>price: <%= product.price%> $</h5>
    <button class='btn btn-success addToCart' data-product-id="<%=product._id%>">add to cart</button>
</div>
<%}%>
<%})%>


<style>
    .productDiv {
        margin-bottom: 20px;
    }
</style>