<ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            User <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a id='newUser' href="#">new user</a></li>
            <li><a id='allUsers' href="#">all users</a></li>
            <li><a id='findUser' href="#">find user by</a></li>
        </ul>
    </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            Product <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a id='createProduct' href="#admin/createProduct">new product</a></li>
            <li><a id='allProducts' href="#">all products</a></li>
            <li><a id='findProduct' href="#">find product by</a></li>
        </ul>
    </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            Brand <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a id="newBrand" href="#">new brand</a></li>
            <li><a id="allBrands" href="#">all brands</a></li>
            <li><a id="findBrand" href="#">find brand by</a></li>
        </ul>
    </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            Comment <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a id="newComment" href="#">new comment</a></li>
            <li><a id="allComments" href="#">all comments</a></li>
            <li><a id="findComment" href="#">find comment by</a></li>
        </ul>
    </li>

    <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
           aria-expanded="false">
            Order <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a id="newOrder" href="#">new order</a></li>
            <li><a id="allOrders" href="#">all orders</a></li>
            <li><a id="findOrder" href="#">find order by</a></li>
        </ul>
    </li>
</ul>
