<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap-theme.min.css">
    <script src="js/libs/jquery/dist/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <link rel="stylesheet" href="../css/frame.css">
</head>


<body>

<div id="header">
    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a id='adminPageLink' href="#">Admin page</a></li>
        <li role="presentation"><a href="#">go to site</a></li>
    </ul>
</div>

<div id="menu">
   <span>
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    User <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">new user</a></li>
                    <li><a href="#">all users</a></li>
                    <li><a href="#">find user by</a></li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Product <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">new product</a></li>
                    <li><a href="#">all products</a></li>
                    <li><a href="#">find product by</a></li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Brand <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">new brand</a></li>
                    <li><a href="#">all brands</a></li>
                    <li><a href="#">find brand by</a></li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Comment <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">new comment</a></li>
                    <li><a href="#">all comments</a></li>
                    <li><a href="#">find comment by</a></li>
                </ul>
            </li>

            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    Order <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">new order</a></li>
                    <li><a href="#">all orders</a></li>
                    <li><a href="#">find order by</a></li>
                </ul>
            </li>

        </ul>

   </span>
</div>





<style>
#header{
    background-color: lightgray;
}
#menu{
    margin-top: 20px;
    width: 180px;
    background-color: darkgray;
    height: 100%;
}
    #adminPageLink{
        width: 180px;
    }


</style>


</body>
</html>