<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./javascript/libs/jquery/dist/jquery.js"></script>
    <script src="./javascript/libs/underscore/underscore.js"></script>
    <script src="./javascript/libs/backbone/backbone.js"></script>

</head>
<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="upload" multiple="multiple"><br/>
    <button type="submit">send</button>
</form>
<body>

    <a href="/login">login page </a>
    <script data-main="javascript/main" src="/javascript/libs/requirejs/require.js"></script>


    <div id="container">
        <button type="button" id="getUsers" class="getUsers">get Users</button>
    </div>
</body>
</html>