<div class="centered">

    <form id="loginForm" class="form-horizontal" action="/login" method="post">
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">login</label>

            <div class="col-sm-10">
                <input type="text" name="email" class="form-control" id="email" placeholder="login">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">Password</label>

            <div class="col-sm-10">
                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
            </div>
        </div>

        <div id="secretCode" class="form-group">
            <label for="code" class="col-sm-2 control-label">secret code</label>
            <div class="col-sm-10">
                <input type="text" name="code" class="form-control" id="code" placeholder="code">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="button" id="signIn" class="btn btn-primary">Sign in</button>
                <a id='register' href="/register" class="btn btn-success registerBtn">register</a>
            </div>
        </div>
    </form>
</div>

<style>
    .centered{
        margin-left: auto;
        margin-right: auto;
        width: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -150px;
    }
</style>