<div class="col-md-2">
    <span>
        Views on page:
    </span>
    <span>
        <select name="view" id="view" class="form-control" aria-describedby="sizing-addon2">
            <option value="6">6</option>
            <option value="12">12</option>
            <option value="18">18</option>
        </select>
    </span>
</div>

<div id='pagination' lass="col-md-8">
    <ul class="pagination">
        <li>
            <a href="#" id='prevPage' aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>

        <li><a href="#" id="currentPage"><%=page%></a></li>

        <li>
            <a href="#" id='nextPage' aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
    </ul>
</div>



<table class="table table-bordered tableStyle">
    <tr>
        <td></td>
        <td><b>photo</b></td>
        <td><b>name</b></td>
        <td><b>brand name</b></td>
        <td><b>price</b></td>
        <td><b>launch date</b></td>
        <td></td>
    </tr>

    <% _.forEach(collection, function(product){%>
    <% if(product.name) {%>
    <tr>
        <td class="centered"><input type="checkbox" class='box' name="checkRemove" value="<%=product._id%>"/></td>
        <td><img src="<%= product.pathToPhoto%>" height="50" width="50" class="textWrapRight"></a></td>
        <td><h5><%= product.name %></h5></td>
        <td><h5><%= product.brandName %></h5></td>
        <td><h5><%= product.price %></h5></td>
        <td><h5><%= product.launchDate %></h5></td>
        <td>
            <button data-product-id='<%=product._id%>' class="btn btn-success editBtn">edit</button>
        </td>

    </tr>
    <%}%>
    <%})%>
</table>


<style>
    .tableStyle {
        margin-top: 15px;
    }

    .editBtn {
        float: right;
    }

    .box {
        width: 20px;
        height: 20px;
    }

    .centered {
        width: 40px;
    }

    #category {
        width: 100px;
        margin-top: 20px;
    }

    #pagination {
        float: right;
    }

</style>
