<h2 id="headerFormProduct" class="headerForm">create product</h2>

<form action="/upload" id='uploadForm' class="fileUpload btn btn-primary" method="post" enctype="multipart/form-data">
    <span>Upload photo</span>
    <input id='uploadFile' type="file" class='upload' name="upload" multiple="multiple"><br/>
</form>

<form id="createProductForm" class="createProductForm" role="menu" action="/product" method="post">

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">product name</span>
        <input id='name' name="name" type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">brand name</span>
        <select id='brandName' name="brandName" class="form-control" aria-describedby="sizing-addon2">
            <option id='571ccaa1d5a97d4c1770ee82' value="571ccaa1d5a97d4c1770ee82">paco rabanne</option>
            <option id='idBoss' value="idBoss">boss</option>
            <option id='idEnergy' value="idEnergy">energy</option>
        </select>
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">price</span>
        <input id='price' name="price" type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">description</span>
        <input id='description' name="description" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">top notes</span>
        <input id='topNotes' name="topNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">heart notes</span>
        <input id='heartNotes' name="heartNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">base notes</span>
        <input id='baseNotes' name="baseNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">launch date</span>
        <input id='launchDate' name="launchDate" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">category</span>
        <select name="category" id="category" class="form-control" aria-describedby="sizing-addon2">
            <option value="luxury">luxury</option>
            <option value="classic">classic</option>
            <option value="sport">sport</option>
        </select>
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">gender</span>
        <select id='gender' name="gender" class="form-control" aria-describedby="sizing-addon2">
            <option value="men">men</option>
            <option value="women">women</option>
        </select>
    </div>


    <button id="createProductBtnHide" class="btn btn-primary  createProductBtnHide" type="button"><i
            class="glyphicon glyphicon-ok"></i>Hide
    </button>

    <button id="createProductBtn" class="btn btn-success createProductBtn" type="button"><i
            class="glyphicon glyphicon-ok"></i>create
    </button>

</form>

<style>
    .spanLabel{
        min-width: 120px;
        text-align: left;
   }
    .itemDiv{
        margin-top: 10px;
    }
    #createProductBtn{
        margin-left: 20px;
    }
    button{
        margin-top: 10px;
    }
    #headerFormProduct{
        font-family: Georgia, Serif;
        color: cornflowerblue;
        text-align: center;
    }

    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>