<h2 id="headerFormProduct" class="headerForm">update product</h2>
<form id="createProductForm" class="createProductForm" role="menu" action="/product" method="post">

    <div class="input-group itemDiv photoDiv" >
        <img src="" height="150" width="150" id="photo"  class="textWrapRight"><br/>
        <button id="changePhoto">changePhoto</button>
    </div>


    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">product name</span>
        <input id='name' name="name" type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">brand name</span>
        <select id='brandName' name="brandName" class="form-control" aria-describedby="sizing-addon2">
            <option id='570d250318413e9c19ba07a0' value="570d250318413e9c19ba07a0">paco rabanne</option>
            <option id='idBoss' value="idBoss">boss</option>
            <option id='idEnergy' value="idEnergy">energy</option>
        </select>
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">price</span>
        <input id='price' name="price" type="text" class="form-control" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">description</span>
        <input id='description' name="description" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">top notes</span>
        <input id='topNotes' name="topNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">heart notes</span>
        <input id='heartNotes' name="heartNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">base notes</span>
        <input id='baseNotes' name="baseNotes" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">launch date</span>
        <input id='launchDate' name="launchDate" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">category</span>
        <select name="category" id="category" class="form-control" aria-describedby="sizing-addon2">
            <option value="luxury">luxury</option>
            <option value="classic">classic</option>
            <option value="sport">sport</option>
        </select>
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">gender</span>
        <select id='gender' name="gender" class="form-control" aria-describedby="sizing-addon2">
            <option value="men">men</option>
            <option value="women">women</option>
        </select>
    </div>


    <button id="updateProductBtnHide" class="btn btn-primary  createProductBtnHide" type="button"><i
            class="glyphicon glyphicon-ok"></i>Hide
    </button>

    <button id="updateProductBtn" class="btn btn-success createProductBtn" type="button"><i
            class="glyphicon glyphicon-ok"></i>update
    </button>
</form>
<style>
    .spanLabel {
        min-width: 120px;
        text-align: left;
    }

    .itemDiv {
        margin-top: 10px;
    }

    #createProductBtn {
        margin-left: 20px;
    }

    button {
        margin-top: 10px;
    }

    #headerFormProduct {
        font-family: Georgia, Serif;
        color: cornflowerblue;
        text-align: center;
    }
    .photoDiv{
        margin-left: auto;
        margin-right: auto;
    }
</style>