<h2 id="headerFormProduct" class="headerForm">create brand</h2>

<form action="/upload" id='uploadForm' class="fileUpload btn btn-primary" method="post" enctype="multipart/form-data">
    <span>Upload photo</span>
    <input id='uploadFile' type="file" class='upload' name="upload" multiple="multiple"><br/>
</form>


<form id="createProductForm" class="createProductForm" role="menu" action="/product" method="post">

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">brand name</span>
        <input id='brandName' name="brandName" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">description</span>
        <input id='description' name="description" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <div class="input-group itemDiv">
        <span class="input-group-addon spanLabel">manufacturer</span>
        <input id='manufacturer' name="manufacturer" type="text" class="form-control"
               aria-describedby="sizing-addon2">
    </div>

    <button id="createBrandBtnHide" class="btn btn-primary  createProductBtnHide" type="button"><i
            class="glyphicon glyphicon-ok"></i>Hide
    </button>

    <button id="createBrandBtn" class="btn btn-success createProductBtn" type="button"><i
            class="glyphicon glyphicon-ok"></i>create
    </button>

</form>

<style>
    .spanLabel{
        min-width: 120px;
        text-align: left;
    }
    .itemDiv{
        margin-top: 10px;
    }
    #createBrandBtn{
        margin-left: 20px;
    }
    button{
        margin-top: 10px;
    }
    #headerFormProduct{
        font-family: Georgia, Serif;
        color: cornflowerblue;
        text-align: center;
    }
    .fileUpload {
        position: relative;
        overflow: hidden;
        margin: 10px;
    }
    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
    }
</style>