<div class="categories col-sm-12">

    <div id="women"><img src="/images/categories/Women.jpg" class="banner"/></div>
    <div id="new"><img src="/images/categories/new.jpg" class="banner"/></div>
    <div id="men"> <img src="/images/categories/Men.jpg" class="banner"/></div>
</div>





<style>
    .banner{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%
    }
    .banner:hover{
        cursor: pointer;
        cursor: hand;
        margin-top: -5%;
        margin-left: -5%;
        width: 110%;
        hight: 110%;
    }
</style>

<script>
    $(document).ready(function () {

        $('.categories').slick({
            dots          : true,
            infinite      : true,
            speed         : 500,
            slidesToShow  : 3,
            slidesToScroll: 3,
        });
    });
</script>