<div class="col-sm-12 row labelDiv">
    <div class="col-sm-offset-5 col-sm-4"><h3 style="color: cornflowerblue">Women's bestsellers</h3></div>
</div>
<div  class="col-sm-12 row">
    <div id="previousWomen" class="col-sm-1"><i class="glyphicon glyphicon-chevron-left arrow left-arrow"></i></div>

    <div class="womenBestseller col-sm-10">
        <% _.forEach(collection, function(product){%>
        <% if(product.name) {%>
        <div class="col-sm-4 productDiv">
            <a href="" data-attr="<%=product._id%>" data-brand-id="<%=product.brandId%>" class="brandPicture"><img
                    src="<%= product.pathToPhoto%>"
                    class="textWrapRight"></a>
            <h5><%= product.name %></h5>
            <h5>launch date: <%= product.launchDate %></h5>
            <h5>price: <%= product.price%> $</h5>
            <button class='btn btn-success addToCart' data-product-id="<%=product._id%>">add to cart</button>
        </div>
        <%}%>
        <%})%>
    </div>

    <div id="nextWomen" class="col-sm-1"><i class="glyphicon glyphicon-chevron-right right-arrow"></i></div>
</div>


<script>
    $(document).ready(function () {

        $('.womenBestseller').slick({
            dots          : true,
            infinite      : true,
            speed         : 500,
            slidesToShow  : 3,
            slidesToScroll: 3,
            nextArrow     : $('#previousWomen'),
            prevArrow     : $('#nextWomen'),
        });
    });
</script>


<style>
    .productDiv {
        margin-bottom: 20px;
        text-align: center;
    }
    a{
        display: block;
        margin: 0 auto
    }
    .labelDiv{
        margin-top: 50px;;
    }

    .labelCategoryMen > h3 {
        font-family: "BrandonGrotesqueRegular";;
    }

    .arrow:hover {
        cursor: pointer;
        cursor: hand;
    }

    #previousMen, #nextMen {
        padding-top: 150px;
    }

    #nextMen {
        float: right
    }

    .right-arrow {
        float: right
    }
</style>
