<div class="row">
    <h3 class="inputSort">Categories </h3>
        <span class="inputSort">
                 <input type="checkbox" id="forHim" >For Him
        </span >
        <span class="inputSort">
                 <input type="checkbox" id="forHer">For Her
        </span>
         <span class="inputSort">
                  <input type="checkbox" id="luxury"> luxury
         </span>
         <span class="inputSort">
                 <input type="checkbox" id="sport"> sport
         </span>
         <span class="inputSort">
                 <input type="checkbox" id="classic"> classic
         </span>
</div>

<style>
    .inputSort {
        float: left;
        clear:left;
        padding-left: 15px
    }
    .inputSort{
        padding-left: 60px;
    }
</style>